
        .divReadable{
            width:300px;text-align:justify;height:400px;overflow:scroll;border:5px solid green;padding:40px
         }

        .square{
            height:200px ;
            width:200px; 
            background-color: red; 
        }    

        .border{
            border-top:60px solid blue;
            border-right:60px solid green;
            border-left:60px solid yellow;
            border-bottom:60px solid grey;
        }

        .triangle {
            height : 0px; 
            width : 0px ;
            border-bottom: 60px solid red ;
            border-right: 60px solid transparent; 
            border-left: 60px solid transparent; 
        } 

        .circle{
            background-color: red ;
            height: 50px ; 
            width : 50px; 
            border-radius: 50px ;
        }

        